@tailwind base;
@tailwind components;
@tailwind utilities;

/* .page-container {
    display: flex;
}

.drawer-side {
    width: 250px; 
}

.main-content {
    flex: 1; 
}

.page-container.drawer-side .drawer{
    transform: translateX(0); 
*/